*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  user-select:none;
  /*
  -webkit-user-select:none;
  -ms-user-select:none;
  */
}
body{
    position: relative;/*ドラッグ中のボタンはbodyのrelativeを基に自由配置状態になる。このとき、buttonのz-indexは高めに設定して最前面に表示されるようにする*/
}
:root{
    /*MainWindowからの初期化データを基に可変部のサイズを計算してwindowサイズを変更するための変数群*/
    /*
    必要な情報
    ボタンのサイズ、ボタンのフォント
    グリッドの行数、列数、ギャップ
    ボタンコンテナの高さ
    */
    /*MaskButton用*/
    --MaskButtonWidth:10px;
    --MaskButtonHeight:10px;
    --MaskButtonFontStyle:bold 10px sans-serif;
    --MaskLabelTextSideMargin:8px;
    /*ButtonContainer用*/
    --MaskButtonContainerGridGap:3px;/*legend, ModifyButtonContainer間のギャップ*/
    --MaskButtonContainerWidth:200px;/*JS側で計算する*/
    --MaskbuttonContainerHeight:200px;/*JS側で計算する*/
    /*legend用*/
    --LegendContainerTitleHeight:15px;
    --LegendContainerTitleFontStyle:bold 10px sans-serif;
    --LegendContainerGridRowsNum:5;
    --LegendContainerGridColumnsNum:2;
    --LegendContainerGridGap:2px;
    --LegendContainerPadding:1px;
    /*
    --LegendContainerWidth:100px;
    --LegendContainerHeight:100px;
    */
    /*ModifyButtonContainer用*//*After Beforeは共通*/
    --ModifyContainerTitleHeight:15px;
    --ModifyContainerTitleFontStyle:bold 10px sans-serif;
    --ModifyContainerGridRowsNum:5;
    --ModifyContainerGridColumnsNum:5;
    --ModifyContainerGridGap:2px;
    --ModifyContainerPadding:1px;
    /*
    --ModifyContainerWidth:100px;
    --ModifyContainerHeight:100px;
    */
    /*右半分用*/
    --MaskModifyControlContainerWidth:200px;
    --MaskModifyControlContainerHeight:300px;
    /*左半分と右半分のgap*/
    --BodyGap:5px;
    /*DialogButtonContainerの高さ*/
    --InputWidth:0px;
    --InputHeight:0px;
    --LabelNameChangeInputContainerWidth:20px;
    --LabelNameChangeInputContainerHeight:150px;
    --LabelNameChangeButtonContainerHeight:30px;
    --LabelNameChangeInputContainerGridGap:1px;
    --LabelNameChangeInputContainerGridRowsNum:5;
    --LabelNameChangeInputContainerGridColumnsNum:5;
}
body{
    display: flex;
    flex-direction: row;
    position:relative;
    gap: var(--BodyGap);
    background-color:rgb(87, 87, 87);
    overflow: hidden;
}
/*MaskButton*/
button.DammyButton{
    background-color: rgb(151, 222, 255);
    /*border:2px solid black;*/
}
button.MaskButton{
    width:var(--MaskButtonWidth);
    height:var(--MaskButtonHeight);
    display:flex;
    align-items:center;
    flex-direction: row;
    background-color: rgb(210,210,210);
    color:black;
    font:var(--MaskButtonFontStyle);
}
button.MaskButton:hover{
    background-color: rgb(131, 131, 131);
}
button.MaskButton:focus{
    outline:none;
}
button.MaskButton.Selected{
    background-color: rgb(56, 56, 56);
    color:white;
}
/*
button.MaskButton.Clicked{
    color:red;
}
*/
button.MaskButton>span.MaskColorBoxSpan{
    display:inline-block;
    /*width:var(--MaskButtonHeight);*/
    height:100%;
    aspect-ratio: 1 / 1;
    line-height: var(--MaskButtonHeight);
    text-align: center;
    flex-shrink: 0;
    margin-right:var(--MaskLabelTextSideMargin);
}
button.MaskButton>span.MaskLabelSpan{
    display:inline-block;
    flex:1;
    height:var(--MaskButtonHeight);
    line-height: var(--MaskButtonHeight);
    text-align: left;
}
button.MaskButton>span.MaskClickedSpan{
    display:inline-block;
    /*width:var(--MaskButtonHeight);*/
    height:100%;
    aspect-ratio: 1 / 1;
    line-height: var(--MaskButtonHeight);
    text-align: center;
    flex-shrink: 0;
    margin-left:var(--MaskLabelTextSideMargin);
}
button.MaskButton.Selected>span.MaskColorBoxSpan::before{
    content:"✔";
}
button.MaskButton.Clicked>span.MaskClickedSpan::before{
    content:"◀";
    color:red;
    font-weight: bold;
}
body>button.MaskButton{
    position: absolute;
    z-index: 10;/*移動中は前面に表示する*/
    border:1px solid rgb(0, 0, 0);
}
/*左半分にあるMaskButtonContainerのスタイル*/
body>div#MaskButtonContainer{
    display:grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    gap:var(--MaskButtonContainerGridGap);
    width:var(--MaskButtonContainerWidth);
    height:100%;
}
/*Legend部分のスタイル*/
div#MaskButtonContainer>div#MaskLegendContainer{
    display:flex;
    flex-direction: column;
    grid-row:1/3;/*１行目２行目をまたぐ*/
    grid-column:1;
    width:100%;
    height:100%;
}
div#MaskLegendContainer>div#MaskLegendTitle{
    width:100%;
    height:var(--LegendContainerTitleHeight);
    text-align: center;
    background-color: rgb(0, 4, 255);
    color: white;
    font: var(--LegendContainerTitleFontStyle);
    border-bottom:1px solid black;
}
div#MaskLegendContainer>div#MaskLegendButtonContainer{
    width:100%;
    height:calc(100% - var(--LegendContainerTitleHeight));
    display:grid;
    grid-auto-flow: column;/*縦に並べてから横に動く*/
    grid-template-rows: repeat(var(--LegendContainerGridRowsNum),1fr);
    grid-template-columns: repeat(var(--LegendContainerGridColumnsNum),1fr);
    gap:var(--LegendContainerGridGap);
    padding: var(--LegendContainerPadding);
    background-color: white;
}
/*
div#MaskLegendContainer>div#MaskLegendButtonContainer.Entered{
    background-color: rgb(251, 234, 255);
}
*/
div#MaskLegendContainer>div#MaskLegendButtonContainer>button{
    width: 100%;
    height: 100%;
    /*
    background-color: rgb(54, 54, 54);
    color:white;
    font:var(--MaskButtonFontStyle);
    */
}
/*
div#MaskLegendContainer>div#MaskLegendButtonContainer>button:hover{
    background-color: rgb(100, 100, 100);
}
*/
/*MaskModifyBefore部分のスタイル*/
div#MaskButtonContainer>div#MaskModifyBeforeContainer{
    display:flex;
    flex-direction: column;
    grid-row:1;
    grid-column:2;
    width:100%;
    height:100%;
}
div#MaskModifyBeforeContainer>div#MaskModifyBeforeTitle{
    width: 100%;
    height: var(--ModifyContainerTitleHeight);
    text-align: center;
    background-color: rgb(148, 148, 255);
    color: black;
    font: var(--ModifyContainerTitleFontStyle);
    border-bottom:1px solid black;
}
div#MaskButtonContainer>div#MaskModifyAfterContainer{
    display:flex;
    flex-direction: column;
    grid-row:2;
    grid-column:2;
    width:100%;
    height:100%;
}
div#MaskModifyAfterContainer>div#MaskModifyAfterTitle{
    width: 100%;
    height: var(--ModifyContainerTitleHeight);
    text-align: center;
    background-color: rgb(255, 148, 148);
    color: black;
    font: var(--ModifyContainerTitleFontStyle);
    border-bottom:1px solid black;
}
/*ModifyButtonContainerの共通スタイル*/
div.MaskModifyContainer>div.MaskModifyButtonContainer{
    width:100%;
    height:calc(100% - var(--ModifyContainerTitleHeight));
    display:grid;
    grid-auto-flow: column;/*縦に並べてから横に動く*/
    grid-template-rows: repeat(var(--ModifyContainerGridRowsNum),1fr);
    grid-template-columns: repeat(var(--ModifyContainerGridColumnsNum),1fr);
    gap:var(--ModifyContainerGridGap);
    padding: var(--ModifyContainerPadding);
    background-color: white;
}
div.MaskModifyContainer>div.MaskModifyButtonContainer.Entered{
    background-color: rgb(251, 234, 255);
}
div.MaskModifyContainer>div.MaskModifyButtonContainer>button{
    width: 100%;
    height: 100%;
    /*
    background-color: rgb(54, 54, 54);
    color:white;
    font:var(--MaskButtonFontStyle);
    */
}
/*
div.MaskModifyContainer>div.MaskModifyButtonContainer>button:hover{
    background-color: rgb(100, 100, 100);
}
*/


body>div#MaskModifyControlContainer{
    display:flex;
    flex-direction: column;
    width:var(--MaskModifyControlContainerWidth);
    height:var(--MaskModifyControlContainerHeight);
    gap:1px;
}
div#MaskModifyControlContainer>div#LabelNameAndFillAlphaChangeContainer{
    width:100%;
    height:30px;
    display: flex;
    flex-direction: row;
}
div#LabelNameAndFillAlphaChangeContainer>button#LabelNameChangeDialogOpenButton{
    width:50%;
    height:100%;
    font: bold 10px sans-serif;
    text-align: center;
    border:1px solid black;
    background-color: rgb(0, 48, 0);
    color:white;
}
div#LabelNameAndFillAlphaChangeContainer>button#LabelNameChangeDialogOpenButton:hover{
    background-color: rgb(0, 96, 0);
}
div#LabelNameAndFillAlphaChangeContainer>button#LabelNameChangeDialogOpenButton:active{
    color:black;
}
div#LabelNameAndFillAlphaChangeContainer>button#FillAlphaChangeButton{
    width:50%;
    height:100%;
    font:bold 10px sans-serif;
    text-align:center;
    border:1px solid black;
    display: flex;
    flex-direction: row;
}
div#LabelNameAndFillAlphaChangeContainer>button#FillAlphaChangeButton>h3{
    width:50%;
    height:100%;
}
div#LabelNameAndFillAlphaChangeContainer>button#FillAlphaChangeButton.Filled{
    background-color: rgb(197, 59, 59);
    color:white;
}
div#LabelNameAndFillAlphaChangeContainer>button#FillAlphaChangeButton.NotFilled{
    background-color: rgb(57, 57, 57);
    color:white;
}
div#LabelNameAndFillAlphaChangeContainer>button#FillAlphaChangeButton:hover{
    border:1px solid blue;
}
div#MaskModifyControlContainer>div#AreaSelectContainer{
    --AreaSelectTitleHeight:25px;/*エリア選択タイトルの高さ x1*/
    --SelectStatusInfoLabelHeight:25px;/*選択状態表示ラベルの高さ x 3*/
    --AreaSelectInputBlockHeight:30px;/*入力ブロック1つあたりの高さ x 3*/
    width:100%;
    height:calc(var(--AreaSelectTitleHeight) + 3 * var(--SelectStatusInfoLabelHeight) + 3 * var(--AreaSelectInputBlockHeight));
    display:flex;
    flex-direction: column;
}
div#AreaSelectContainer>div#AreaSelectTitle{
    display:block;
    width:100%;
    height:var(--AreaSelectTitleHeight);
    text-align: center;
    background-color: rgb(0, 2, 97);
    color: white;
    font: bold calc(var(--AreaSelectTitleHeight) - 5px) sans-serif;
}
div#AreaSelectContainer>div.SelectStatusInfoContainer{
    width:100%;
    height:calc(var(--SelectStatusInfoLabelHeight) + var(--AreaSelectInputBlockHeight));
    display: flex;
    flex-direction: column;
}
div#AreaSelectContainer>div.SelectStatusInfoContainer>div.SelectStatusInfoLabel{
    width:100%;
    height:var(--SelectStatusInfoLabelHeight);
    font: bold calc(var(--SelectStatusInfoLabelHeight) - 8px) sans-serif;
    text-align: center;
    vertical-align: top;
    background-color: rgb(77, 77, 245);
    color: white;
}
div#AreaSelectContainer>div.SelectStatusInfoContainer>div.AreaSelectInputBlock{
    width:100%;
    height:var(--AreaSelectInputBlockHeight);
    display:flex;
    flex-direction: row;
    /*padding:2px;*/
}
div#AreaSelectContainer>div.SelectStatusInfoContainer>div.AreaSelectInputBlock>div{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: row;
}
div#AreaSelectContainer>div.SelectStatusInfoContainer>div.AreaSelectInputBlock>div>label{
    width:50%;
    height:100%;
    font: calc(var(--AreaSelectInputBlockHeight) - 13px) sans-serif;
    text-align: center;
    vertical-align: top;
    background-color: black;
    color: white;
    padding:1px;
}
div#AreaSelectContainer>div.SelectStatusInfoContainer>div.AreaSelectInputBlock>div>input{
    width:50%;
    height:100%;
    font: bold calc(var(--AreaSelectInputBlockHeight) - 13px) sans-serif;
    text-align: center;
    padding:1px;
}

div#MaskModifyButtonContainer{
    width:100%;
    height:30px;
    display: flex;
    flex-direction: row;
    padding: 2px;
}
div#MaskModifyButtonContainer>button{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 128, 0.733);
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    border:1px solid black;
}
div#MaskModifyButtonContainer>button:hover{
    background-color: rgb(0, 0, 255);
}
div#MaskModifyButtonContainer>button:active{
    color:black;
}
dialog#LabelNameChangeDialog[open]{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: column;
    width:calc(var(--LabelNameChangeInputContainerWidth) + 1px);
    height:calc(30px + var(--LabelNameChangeInputContainerHeight) + var(--LabelNameChangeButtonContainerHeight) + 1px);
    background-color: rgb(97, 97, 97);
    border:1px solid black;
}
dialog#LabelNameChangeDialog[open]>h3{
    width:100%;
    height:30px;
    text-align: center;
    background-color: black;
    color:white;
    font:bold 10px sans-serif; 
    border-bottom: 1px solid white;
}
dialog#LabelNameChangeDialog[open]>div#LabelNameChangeInputContainer{
    width:100%;
    height:var(--LabelNameChangeInputContainerHeight);
    display:grid;
    grid-auto-flow: column;/*縦に並べてから横に動く*/
    gap:var(--LabelNameChangeInputContainerGridGap);
    grid-template-rows: repeat(var(--LabelNameChangeInputContainerGridRowsNum),1fr);
    grid-template-columns: repeat(var(--LabelNameChangeInputContainerGridColumnsNum),1fr);
}
dialog#LabelNameChangeDialog[open]>div#LabelNameChangeInputContainer>div{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
}
dialog#LabelNameChangeDialog[open]>div#LabelNameChangeInputContainer>div>span.MaskColorBoxSpan{
    display:inline-block;
    /*width:var(--InputHeight);*/
    height:100%;
    /*line-height: var(--InputHeight);*/
    aspect-ratio: 1 / 1;
    text-align: center;
    flex-shrink: 0;
}
dialog#LabelNameChangeDialog[open]>div#LabelNameChangeInputContainer>div>input[type="text"]{
    width:calc(100% - var(--InputHeight));
    height:100%;
    padding-left: 5px;
}
dialog#LabelNameChangeDialog[open]>div#LabelNameChangeInputContainer>div>input[type="text"]:focus{
    outline:none;
}
dialog#LabelNameChangeDialog[open]>div#LabelNameChangeButtonContainer{
    width:100%;
    height:var(--LabelNameChangeButtonContainerHeight);
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns:repeat(2,1fr);
    gap:1px;
}
dialog#LabelNameChangeDialog[open]>div#LabelNameChangeButtonContainer>button{
    width:100%;
    height:100%;
    font-size:12px;
    background-color: blue;
    color:white;
    border:1px solid black;
}
dialog#LabelNameChangeDialog[open]>div#LabelNameChangeButtonContainer>button:hover{
    background-color: rgb(95, 95, 255);
}
dialog#LabelNameChangeDialog[open]>div#LabelNameChangeButtonContainer>button:active{
    color:black;
}