/*素手は、padding、margin、border=0*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
/*
ドロップダウンメニュー用
*/
#MenuContainer{
    width:100%;
    height:20px;
    margin-bottom:2px;
    background-color: gray;
}
/*ulのおおもとの設定*/
ul{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
li{
    width:100%;
    height:100%;
    list-style-type:none;
}
/*MainMenu ulの設定*/
ul.MainMenu {
    display: flex;
}
ul.MainMenu li{
    width:120px;
    height:100%;
    /*display: inline-block;*/
    position: relative;
}
ul.MainMenu li button{
    width:100%;
    height:100%;
    border-right:1px solid black;
    border-bottom:1px solid black;
    background-color: #333;
    color:white;
    text-align: center;
    text-decoration:none;
    vertical-align: top;
}
ul.MainMenu li button#MultiTypeLoadButton{
    color:rgb(95,95,245);
}
ul.MainMenu li button#ResetButton{
    color:rgb(245, 95, 95);
}

ul.MainMenu li button:hover{
    background-color: #575757;
}

ul.MainMenu li button:active{
    background-color: #9c9c9c;
    color:black;
}
ul.MainMenu li button#MultiTypeLoadButton:active{
    color:blue;
}
ul.MainMenu li button#ResetButton:active{
    color:red;
}

/*サブ、…menu ulの設定*/
ul.MainMenu li ul{
    display:none;
    position:absolute;
    top:100%;
    left:0;
}
ul.MainMenu li:hover ul{
    display:block;
    z-index: 1000;
}
dialog{
    border:1px solid black;
    background-color: #9c9c9c;
}
body{
    position: relative;
}
/*
GridChangeダイアログ
*/
dialog#GridChangeDialog{
    font-family: sans-serif;
    --label-height:20px;
    --select-height:100px;
    --button-height:20px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:200px;
    height:calc(var(--label-height) + var(--select-height) + var(--button-height) + 10px);
}

/* タイトル */
dialog#GridChangeDialog>h3 {
    font-size: calc(var(--label-height) / 2);
    width:100%;
    height:var(--label-height);
    text-align: center;
}

/* ドロップダウン横並び */
dialog#GridChangeDialog>div.GridChangeInputContainer{
    width:100%;
    height:var(--select-height);
    display: flex;
    gap:5px;
}
dialog#GridChangeDialog>div.GridChangeInputContainer>div{
    width:100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
/* ラベルとセレクトを縦に並べて、横並びに配置 */
dialog#GridChangeDialog>div.GridChangeInputContainer>div>label{
    width:100%;
    display: block;
    font-weight: bold;
}

dialog#GridChangeDialog>div.GridChangeInputContainer>div>input{
    width:100%;
    height:20px;
    padding: 3px;
    font-size: 12px;
    box-sizing: border-box;
}

/* ボタン横並び */
dialog#GridChangeDialog>div.GridChangeButtonContainer{
    width:100%;
    height:var(--button-height);
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

/* ボタンスタイル */
dialog#GridChangeDialog>div.GridChangeButtonContainer>button{
    width:50%;
    height:100%;
    padding: 2px 3px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    background-color: #0078d4;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

dialog#GridChangeDialog>div.GridChangeButtonContainer>button:hover{
    background-color: #005a9e;
}

/*
CanvasMoveダイアログ
*/
dialog#CanvasMoveDialog{
    font-family: sans-serif;
    --label-height:20px;
    --select-height:300px;
    --button-height:20px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    min-width:300px;
    height:calc(var(--label-height) + var(--select-height) + var(--button-height) + 2px);
    border:1px solid purple;
}

/* タイトル */
dialog#CanvasMoveDialog>h3{
    font-size: calc(var(--label-height) / 2);
    min-width:100%;
    height:var(--label-height);
    text-align: center;
    background-color: blue;
    color:white;
    font-weight:bold;
}

/* チェックボックス格子 */
dialog#CanvasMoveDialog>div#CanvasMoveSelecterContainer{
    /*JSがつくるボタン群のコンテナをセットするだけの場所*/
    width:100%;
    height:var(--select-height);
    display:grid;
    place-items:center;
    overflow-x:auto;
    overflow-y:auto;
    background-color: #000000;
}
dialog#CanvasMoveDialog>div#CanvasMoveSelecterContainer>div#CanvasMovePositionButtonContainer{
    /*widthは可変*/
    /*heightは可変*/
    display:grid;
}
dialog#CanvasMoveDialog>div#CanvasMoveSelecterContainer>div#CanvasMovePositionButtonContainer>button{
    /*width:30px;*/
    /*height:30px;*/
    white-space: pre;
    padding:1px;
    border:2px solid rgb(195, 195, 195);
}
dialog#CanvasMoveDialog>div#CanvasMoveSelecterContainer>div#CanvasMovePositionButtonContainer>button[data-EmptyStatus="NotEmpty"]{
    background-color: white;
    color:black;
    font-size:10px;
}
dialog#CanvasMoveDialog>div#CanvasMoveSelecterContainer>div#CanvasMovePositionButtonContainer>button[data-EmptyStatus="Empty"]{
    background-color: gray;
    color:black;
    font-size:10px;
}
dialog#CanvasMoveDialog>div#CanvasMoveSelecterContainer>div#CanvasMovePositionButtonContainer>button:hover{
    border:2px solid rgb(255, 0, 0);
}
dialog#CanvasMoveDialog>div#CanvasMoveSelecterContainer>div#CanvasMovePositionButtonContainer>button.Selected{
    background-color: #bb95d6;
}
/* ボタン横並び */
dialog#CanvasMoveDialog>div.CanvasMoveButtonContainer{
    min-width:100%;
    height:var(--button-height);
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

/* ボタンスタイル */
dialog#CanvasMoveDialog>div.CanvasMoveButtonContainer>button{
    width:50%;
    padding: 2px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    background-color: #0078d4;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

dialog#CanvasMoveDialog>div.CanvasMoveButtonContainer>button:hover{
    background-color: #005a9e;
}
dialog#CanvasMoveDialog>div.CanvasMoveButtonContainer>button:disabled{
    background-color: #002846;
}
/*キャンバスコンテナ*/
#CanvasContainer{
    width:100%;
    height:calc(100% - 22px);
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr;
    gap:2px;
}
/*キャンバスブロックに対するスタイルの設定*/
div.Block{
    width:100%;
    height:100%;
    font-size: 0;
    line-height: 0;
}
/*inputとCanvasBlockの高さの合計でdivBlockに指定すればよい*/
/*widthは画像サイズそのままでよい*/
div.CanvasBlock{
    position:relative;
    width:100%;
    height:calc(100% - 16px);
}
div.CanvasBlock>canvas.Canvas{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:transparent;
    pointer-events: none;/*画像上の座標取得は完全に一致させたdivに任せることにする*/
}

div.Block input[type="range"] {
    /*変数*/
    --slider-height:16px;
    --track-hilight-start:0%;
    --track-hilight-end:0%;
    --track-normal-color:#ccc;
    --track-hilight-color:#f00;
    --track-color:linear-gradient(to right,
        var(--track-normal-color) 0%,
        var(--track-normal-color) var(--track-hilight-start),
        var(--track-hilight-color) var(--track-hilight-start),
        var(--track-hilight-color) var(--track-hilight-end),
        var(--track-normal-color) var(--track-hilight-end),
        var(--track-normal-color) 100%);
    --thumb-color:#3d3d3dcf;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: var(--slider-height); /* 全体の高さを指定 */
    border: none;
    background: transparent;
}

/* トラック（走行部分） */
div.Block input[type="range"]::-webkit-slider-runnable-track {
    height: var(--slider-height);
    background: var(--track-color);
    /*border-radius: calc(var(--slider-height)/2);*/
}

/* サム（つまみ） */
div.Block input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--slider-height);
    height: var(--slider-height);
    background: var(--thumb-color);
    /* 円形にする */
    /*border-radius: 50%;*/
    margin-top: 0px; /* トラックと同じ高さなのでズレなし */
    cursor: pointer;
}

/*コンテキストメニューに関する設定*/
div.CanvasBlock div.ContextMenuContainer{
    position:absolute;
    width:130px;
    /*
    z-index:10;
    コンテキストメニューのZindexもJS側で一括管理することでデータレイヤーの裏に配置されることを防ぐ
    */
    display: none;
}
div.ContextMenuContainer div.ContextMenuTextContainer{
    width:100%;
    background: black;
    color:white;
    border:1px solid rgb(65, 4, 64);
    text-align: center;
    line-height:20px;
    font-size: 12px;
    font-weight: bold;
}

div.ContextMenuContainer div.ContextMenuButtonContainer{
    width:100%;
}
div.ContextMenuContainer div.ContextMenuButtonContainer>Button{
    width:100%;
    height:30px;
    text-align: center;
    vertical-align: top;
    border:1px solid rgb(65, 4, 64);
    background-color: #575757;
    color: aliceblue;
    font-weight: bold;
}
div.ContextMenuContainer div.ContextMenuButtonContainer>Button:hover{
    background-color: #7c7b7b;
}
div.ContextMenuContainer div.ContextMenuButtonContainer>Button:active{
    background-color: cadetblue;
}

/*ファイルオープンダイアログのCSS*/
dialog#LoadDialog{
    --DOMTreeContainerHeight:260px;
    --ButtonContainerHeight:40px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:400px;
    height:calc(var(--DOMTreeContainerHeight) + var(--ButtonContainerHeight) + 2px);
    background-color: black;
}
dialog#LoadDialog>div#LoadDialogDOMTreeContainer{
    width:100%;
    height:var(--DOMTreeContainerHeight);
    /*はみ出る部分はスクロールにする*/
    overflow-y: scroll;
    max-height: var(--DOMTreeContainerHeight);
    display: flex;
    flex-direction: column;
}
/*各データタイプが持っているDOMツリーに関するCSS*/
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree{
    /*
    --DataTypeDisplay:20px;
    --PathSettngContainerHeight:60px;
    */
    width:100%;
    /*height:calc(var(--DataTypeDisplay) + var(--PathSettngContainerHeight));*/
    display: flex;
    flex-direction: column;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.DataTypeDisplay{
    width:100%;
    height: 20px;
    background-color: #bb95d6;
    color:black;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}
/*
PathSettingContainer
で入力タイプごとにまとまりで定義する。
CT、MASK　FilePathInputSettingContainer
MASKDIFF ComparableCanvasIDSelectSettingContainer
CONTOUR FilePathInputWithCanvasIDSelectSettingContainer
*/
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputSettingContainer{
    width: 100%;
    --NewPartsHeight:30px;
    --ExistingPartsHeight:30px;
    height: calc(var(--NewPartsHeight) + var(--ExistingPartsHeight));
    display:flex;
    flex-direction: row;
    --ModeSelectContainerWidth:50px;
    --PathInputContainerWidth:calc(100% - var(--ModeSelectContainerWidth));
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputSettingContainer>div.ModeSelectContainer{
    width:var(--ModeSelectContainerWidth);
    height:100%;
    display: flex;
    flex-direction: column;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputSettingContainer>div.ModeSelectContainer>button[data-SelectMode="New"]{
    width:100%;
    height:var(--NewPartsHeight);
    text-align: center;
    vertical-align: top;
    background-color: white;
    color:black;
    font-size:12px;
    font-weight: bold;
    border:1px solid black;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputSettingContainer>div.ModeSelectContainer>button[data-SelectMode="Existing"]{
    width:100%;
    height:var(--ExistingPartsHeight);
    text-align: center;
    vertical-align: top;
    background-color: white;
    color:black;
    font-size:12px;
    font-weight: bold;
    border:1px solid black;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputSettingContainer>div.ModeSelectContainer>button:hover{
    background-color: #878686;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputSettingContainer>div.ModeSelectContainer>button.Selected{
    background-color: rgb(244, 158, 158);
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputSettingContainer>div.PathInputContainer{
    width:var(--PathInputContainerWidth);
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #002846;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]{
    width: 100%;
    height:var(--NewPartsHeight);
    display: flex;
    flex-direction: row;
    padding:1px;
    --OpenFileDialogButtonWidth:50px;
    --PathInputTextContainerWidth:calc(100% - var(--OpenFileDialogButtonWidth));
}
/*ファイルパスを入力するInputと参照ボタン*/
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]>input[type="text"]{
    width: var(--PathInputTextContainerWidth);
    height:100%;
    vertical-align: top;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]>button{
    width: var(--OpenFileDialogButtonWidth);
    height: 100%;
    vertical-align: top;
    text-align: center;
    background-color: #373737;
    color:rgb(255, 255, 255);
    border:1px solid rgb(0, 0, 0);
    font-size: 12px;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]>button:hover{
    background-color: gray;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]>button:active{
    background-color: #005a9e;
}
/*既存のCanvasIDを参照するセレクター*/
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="Existing"]{
    width: 100%;
    height:var(--ExistingPartsHeight);
    padding:1px;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="Existing"]>select{
    width:100%;
    height:100%;
    vertical-align: top;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="Existing"]>select>option{
    background-color: rgb(63, 63, 63);
    color:white;
}

/*FilePathInputWithCanvasIDSelect*/
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer{
    width: 100%;
    height: calc(var(--NewPartsHeight) + var(--ExistingPartsHeight));
    display:flex;
    flex-direction: row;
    --NewPartsHeight:60px;
    --ExistingPartsHeight:30px;
    --ModeSelectContainerWidth:50px;
    --PathInputContainerWidth:calc(100% - var(--ModeSelectContainerWidth));
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.ModeSelectContainer{
    width:var(--ModeSelectContainerWidth);
    height:100%;
    display: flex;
    flex-direction: column;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.ModeSelectContainer>button[data-SelectMode="New"]{
    width:100%;
    height:var(--NewPartsHeight);
    text-align: center;
    vertical-align: top;
    background-color: white;
    color:black;
    font-size:12px;
    font-weight: bold;
    border:1px solid black;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.ModeSelectContainer>button[data-SelectMode="Existing"]{
    width:100%;
    height:var(--ExistingPartsHeight);
    text-align: center;
    vertical-align: top;
    background-color: white;
    color:black;
    font-size:12px;
    font-weight: bold;
    border:1px solid black;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.ModeSelectContainer>button:hover{
    background-color: #878686;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.ModeSelectContainer>button.Selected{
    background-color: rgb(244, 158, 158);
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.PathInputContainer{
    width:var(--PathInputContainerWidth);
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #002846;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]{
    width: 100%;
    height:var(--NewPartsHeight);
    display: flex;
    flex-direction: column;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]>div.LoadPathParts{
    --OpenFileDialogButtonWidth:50px;
    --PathInputTextContainerWidth:calc(100% - var(--OpenFileDialogButtonWidth));
    width:100%;
    height:50%;
    padding:1px;
    display: flex;
    flex-direction: row;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]>div.LoadPathParts>input[type="text"]{
    width: var(--PathInputTextContainerWidth);
    height:100%;
    vertical-align: top;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]>div.LoadPathParts>button{
    width: var(--OpenFileDialogButtonWidth);
    height: 100%;
    vertical-align: top;
    text-align: center;
    background-color: #373737;
    color:rgb(255, 255, 255);
    border:1px solid rgb(0, 0, 0);
    font-size: 12px;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]>div.LoadPathParts>button:hover{
    background-color: gray;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]>div.LoadPathParts>button:active{
    background-color: #005a9e;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]>div.ReferOriginalParts{
    width:100%;
    height:50%;
    padding:1px;
    display: flex;
    flex-direction: row;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]>div.ReferOriginalParts>select{
    width: 100%;
    height: 100%;
    vertical-align: top;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]>div.ReferOriginalParts>select>option{
    background-color: rgb(63, 63, 63);
    color:white;
}
/*既存のCanvasIDを参照するセレクター*/
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="Existing"]{
    width: 100%;
    height:var(--ExistingPartsHeight);
    padding:1px;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="Existing"]>select{
    width:100%;
    height:100%;
    vertical-align: top;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.FilePathInputWithCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="Existing"]>select>option{
    background-color: rgb(63, 63, 63);
    color:white;
}

/*ComparableCanvasIDSelect*/
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.ComparableCanvasIDSelectSettingContainer{
    width: 100%;
    --NewPartsHeight:30px;
    --ExistingPartsHeight:30px;
    height: calc(var(--NewPartsHeight) + var(--ExistingPartsHeight));
    display:flex;
    flex-direction: row;
    --ModeSelectContainerWidth:50px;
    --PathInputContainerWidth:calc(100% - var(--ModeSelectContainerWidth));
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.ComparableCanvasIDSelectSettingContainer>div.ModeSelectContainer{
    width:var(--ModeSelectContainerWidth);
    height:100%;
    display: flex;
    flex-direction: column;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.ComparableCanvasIDSelectSettingContainer>div.ModeSelectContainer>button[data-SelectMode="New"]{
    width:100%;
    height:var(--NewPartsHeight);
    text-align: center;
    vertical-align: top;
    background-color: white;
    color:black;
    font-size:12px;
    font-weight: bold;
    border:1px solid black;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.ComparableCanvasIDSelectSettingContainer>div.ModeSelectContainer>button[data-SelectMode="Existing"]{
    width:100%;
    height:var(--ExistingPartsHeight);
    text-align: center;
    vertical-align: top;
    background-color: white;
    color:black;
    font-size:12px;
    font-weight: bold;
    border:1px solid black;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.ComparableCanvasIDSelectSettingContainer>div.ModeSelectContainer>button:hover{
    background-color: #878686;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.ComparableCanvasIDSelectSettingContainer>div.ModeSelectContainer>button.Selected{
    background-color: rgb(244, 158, 158);
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.ComparableCanvasIDSelectSettingContainer>div.PathInputContainer{
    width:var(--PathInputContainerWidth);
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #002846;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.ComparableCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]{
    width:100%;
    height:50%;
    padding:1px;
    --SeparateWidth:30px;
    --SelecterWidth:calc((100% - var(--SeparateWidth)) / 2);
    display:flex;
    flex-direction: row;
}
/*ファイルパスを入力するInputと参照ボタン*/
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.ComparableCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]>select{
    width:var(--SelecterWidth);
    height: 100%;
    vertical-align: top;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.ComparableCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]>select>option{
    background-color: rgb(63, 63, 63);
    color:white;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.ComparableCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="New"]>div{
    width:var(--SeparateWidth);
    height: 100%;
    vertical-align: top;
    text-align: center;
    background-color: #242424;
    color:white;
    font-weight: bold;
    font-size:12px;
}
/*既存のCanvasIDを参照するセレクター*/
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.ComparableCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="Existing"]{
    width: 100%;
    height:var(--ExistingPartsHeight);
    padding:1px;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.ComparableCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="Existing"]>select{
    width:100%;
    height:100%;
    vertical-align: top;
}
div#LoadDialogDOMTreeContainer>div.PathSelectDOMTree>div.ComparableCanvasIDSelectSettingContainer>div.PathInputContainer>div.PathContainer[data-SelectMode="Existing"]>select>option{
    background-color: rgb(63, 63, 63);
    color:white;
}

dialog#LoadDialog>div#LoadDialogButtonContainer{
    width: 100%;
    height: var(--ButtonContainerHeight);
    display: flex;
    flex-direction: row;
}
dialog#LoadDialog>div#LoadDialogButtonContainer>button{
    width: 50%;
    height: 100%;
    padding: 5px;
    background-color: #504f4f;
    border: 1px solid black;
    color:white;
    text-align: center;
    vertical-align: top;
}
dialog#LoadDialog>div#LoadDialogButtonContainer>button:hover{
    background-color: #878686;
}
dialog#LoadDialog>div#LoadDialogButtonContainer>button:active{
    background-color: #2f93c9;
    color:black;
}

/*ChangeAndLoadDialog*/
dialog#ChangeAndLoadDialog[open]{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    --PathContainerWidth:400px;
    --OperationContainerWidth:250px;
    width:calc(var(--PathContainerWidth) + var(--OperationContainerWidth));
    height:400px;
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: row;
}
/*読み込まれているCanvasIDとファイルパスを一覧で表示するコンテナ*/
dialog#ChangeAndLoadDialog[open]>div#ChangeAndLoadPathContainer{
    width:var(--PathContainerWidth);
    height:100%;
    display: flex;
    flex-direction: column;
    background-color: gray;
    overflow-y:scroll;
}
div#ChangeAndLoadPathContainer>div.CanvasInfoContainer{
    width:100%;
    /*heightは可変*/
    display:flex;
    flex-direction: column;
}
div#ChangeAndLoadPathContainer>div.CanvasInfoContainer>div.CanvasIDDisplay{
    width:100%;
    height:20px;
    background-color: rgb(95, 0, 95);
    color:white;
    font-size:10px;
    font-weight:bold;
    text-align: center;
    vertical-align: top;
}
div#ChangeAndLoadPathContainer>div.CanvasInfoContainer>div.DataTypeIDPathContainer{
    width:100%;
    /*heightは可変*/
    display:flex;
    flex-direction: row;
    --DataTypeIDPathLineHeight:25px;
    --DataTypeIDPathLineFontSize:12px;
    --DataTypeIDDisplayContainerWidth:200px;
    --PathDisplayContainerWidth:calc(100% - var(--DataTypeIDContainerWidth));
}
div#ChangeAndLoadPathContainer>div.CanvasInfoContainer>div.DataTypeIDPathContainer>div.DataTypeIDDisplayContainer{
    width:var(--DataTypeIDDisplayContainerWidth);
    /*heightは可変*/
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}
div#ChangeAndLoadPathContainer>div.CanvasInfoContainer>div.DataTypeIDPathContainer>div.DataTypeIDDisplayContainer>div.DataTypeIDDisplay{
    width:100%;
    height:var(--DataTypeIDPathLineHeight);
    padding:2px;
    background-color: rgb(63, 63, 63);
    color:white;
    /*font-size:var(--DataTypeIDPathLineFontSize);*/
    font-size:8px;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    border: 1px solid black;
}
div#ChangeAndLoadPathContainer>div.CanvasInfoContainer>div.DataTypeIDPathContainer>div.PathDisplayContainer{
    width:var(--PathDisplayContainerWidth);
    /*heightは可変*/
    display:flex;
    flex-direction: column;
    overflow-x: scroll;
}
div#ChangeAndLoadPathContainer>div.CanvasInfoContainer>div.DataTypeIDPathContainer>div.PathDisplayContainer>div.PathDisplay{
    /*widthはJSにてファイルパス文字列の長さに応じて決定*/
    height:var(--DataTypeIDPathLineHeight);
    background-color: white;
    padding:2px;
    color:black;
    font-size: var(--DataTypeIDPathLineFontSize);
    font-weight: bold;
    text-align:left;
    vertical-align: top;
    border: 1px solid black;
}
/*ChangeAndLoadDialogの変更対象を記述するコンテナ*/
dialog#ChangeAndLoadDialog[open]>div#ChangeAndLoadOperationContainer{
    width:var(--OperationContainerWidth);
    height:100%;
    --ButtonContainerHeight:30px;
    display: flex;
    flex-direction: column;
}
div#ChangeAndLoadOperationContainer>div#ChangeAndLoadTargetContainer{
    width:100%;
    height:calc(100% - var(--ButtonContainerHeight));
    overflow-y: scroll;
    display:flex;
    flex-direction: column;
    background-color: gray;
}
div#ChangeAndLoadOperationContainer>div#ChangeAndLoadTargetContainer>div.ChangeAndLoadTarget{
    width:100%;
    height:25px;
    display:flex;
    flex-direction: row;
    --AllowWidth:30px;
    --DeleteButtonWidth:30px;
    --InputWidth:calc((100% - var(--AllowWidth) - var(--DeleteButtonWidth)) / 2);
    border:1px solid black;
    flex-shrink: 0;
}
div#ChangeAndLoadOperationContainer>div#ChangeAndLoadTargetContainer>div.ChangeAndLoadTarget>input[type="text"]{
    width:var(--InputWidth);
    height:100%;
    padding:2px;
    font:12px sans-serif;
}
div#ChangeAndLoadOperationContainer>div#ChangeAndLoadTargetContainer>div.ChangeAndLoadTarget>input[type="text"]:focus{
    outline: none;
}

div#ChangeAndLoadOperationContainer>div#ChangeAndLoadTargetContainer>div.ChangeAndLoadTarget>button.ChangeAndLoadTargetDeleteButton{
    width:var(--DeleteButtonWidth);
    height:100%;
    padding:1px;
    font:bold 10px sans-serif;
    text-align: center;
    background-color: rgb(253, 134, 134);
    color:white;
}
div#ChangeAndLoadOperationContainer>div#ChangeAndLoadTargetContainer>div.ChangeAndLoadTarget>button.ChangeAndLoadTargetDeleteButton:hover{
    background-color: red;
}
div#ChangeAndLoadOperationContainer>div#ChangeAndLoadTargetContainer>div.ChangeAndLoadTarget>button.ChangeAndLoadTargetDeleteButton:active{
    color:black;
}
div#ChangeAndLoadOperationContainer>div#ChangeAndLoadTargetContainer>div.ChangeAndLoadTarget>div.ChangeAndLoadAllow{
    width:var(--AllowWidth);
    height:100%;
    background-color: rgb(47, 47, 47);
    color:white;
    font:bold 10px sans-serif;
    padding:2px;
    text-align: center;
}
div#ChangeAndLoadOperationContainer>div#ChangeAndLoadTargetContainer>button#ChangeAndLoadTargetAddButton{
    width:100%;
    height:20px;
    padding:2px;
    border: 1px solid black;
    background-color: rgb(195, 195, 195);
    color:black;
    font:bold 10px sans-serif;
    text-align: center;
    flex-shrink: 0;
}
div#ChangeAndLoadOperationContainer>div#ChangeAndLoadTargetContainer>button#ChangeAndLoadTargetAddButton:hover{
    background-color: rgb(225, 232, 147);
}
div#ChangeAndLoadOperationContainer>div#ChangeAndLoadTargetContainer>button#ChangeAndLoadTargetAddButton:active{
    color:white;
}
div#ChangeAndLoadOperationContainer>div#ChangeAndLoadButtonContainer{
    width:100%;
    height:var(--ButtonContainerHeight);
    display: flex;
    flex-direction: row;
}
div#ChangeAndLoadButtonContainer>button{
    width:50%;
    height:100%;
    padding:1px;
    border:1px solid black;
    background-color: #005a9e;
    color:white;
    font:bold 10px sans-serif;
    text-align: center;
}
div#ChangeAndLoadButtonContainer>button:hover{
    background-color: #0077d2;
}
div#ChangeAndLoadButtonContainer>button:active{
    color:white;
}