*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
:root{
    /*フォントサイズ系は現時点で未使用*/
    --SelectInfoDisplayFontSize:10px;
    --SelectInfoDisplayContainerHeight:30px;
    --ROISelectContainerHeight:10px;
    --ButtonFontSize:5px;
    --ButtonWidth:10px;
    --ButtonHeight:10px;
    --GridRowsNum:5;
    --GridColumnsNum:5;
    --GridGap:2px;
}
/*SelectInfoDisplay*/
body>div#SelectInfoDisplayContainer{
    Width:100%;
    Height:var(--SelectInfoDisplayContainerHeight);
    display:flex;
    flex-direction: row;
}
div#SelectInfoDisplayContainer>div#AllROINumDisplay{
    width:33%;
    height:100%;
    padding:1px;
    /*font-size:var(--SelectInfoDisplayFontSize);*/
    text-align: left;
    vertical-align: top;
    background-color: black;
    color:white;
    border:1px solid white;
}
div#SelectInfoDisplayContainer>div#SelectedROINumDisplay{
    width:33%;
    height:100%;
    padding:1px;
    /*font-size:var(--SelectInfoDisplayFontSize);*/
    text-align: left;
    vertical-align: top;
    background-color: black;
    color:white;
    border:1px solid white;
}
div#SelectInfoDisplayContainer>div#RecordedROINumDisplay{
    width:33%;
    height:100%;
    padding:1px;
    /*font-size:var(--SelectInfoDisplayFontSize);*/
    text-align: left;
    vertical-align: top;
    background-color: black;
    color:white;
    border:1px solid white;
}
/*ROISelectContainer*/
body>div#ROISelectContainer{
    width:100%;
    height:var(--ROISelectContainerHeight);
    display: grid;
    grid-template-columns: repeat(var(--GridColumnsNum),1fr);
    grid-template-rows: repeat(var(--GridRowsNum),1fr);
    grid-auto-flow: column;/*縦に並べてから横に動く*/
    gap:var(--GridGap);
    background-color: gray;
}
/*ボタンの設定*/
div#ROISelectContainer>button.ROINameButton{
    width:var(--ButtonWidth);
    height:var(--ButtonHeight);
    display: flex;
    align-items: center;/*垂直方向を中央揃え*/
    flex-direction: row;
    /*border:1px solid black;*/
    background-color: white;
    color:black;
    font-weight: bold;
}
div#ROISelectContainer>button.ROINameButton:focus{/*フォーカスがあるときのオレンジの枠を、ボタンに対しては禁止する*/
    outline:none;
}
div#ROISelectContainer>button.ROINameButton:hover{
    background-color: rgb(151, 181, 239);
}
div#ROISelectContainer>button.ROINameButton.Selected{
    background-color: black;
    color:white;
}
div#ROISelectContainer>button.ROINameButton>span.ROIColorBoxSpan{
    width:var(--ButtonHeight);
    height:var(--ButtonHeight);
    flex-shrink: 0;/*縮まないようにする*/
    margin-right:8px;/*すぐ隣に文字が来ないようにする*/
    margin-left:1px;
}
div#ROISelectContainer>button.ROINameButton>span.ROINameSpan{
    /*ここにROINameが表示されるが、親要素のフォントスタイルがそのまま受け継がれるらしいのでbuttonで制御してしまう*/
    flex:1;
    text-align: left;
}
