*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
:root{
    --ROIKindInfoDisplayHeight:15px;
    --ROIKindInfoDisplayFontStyle:bold 10px sans-serif;
    --ROINumDisplayHeight:15px;
    --ROINumDisplayFontStyle:bold 10px sans-serif;
    --SelectInfoDisplayContainerHeight:30px;

    --ROISelectContainerHeight:10px;
    --ButtonROINameTextFontStyle:bold 10px sans-serif;
    --ROINameTextSideMargin:8px;
    --ButtonWidth:10px;
    --ButtonHeight:10px;
    --GridRowsNum:5;
    --GridColumnsNum:5;
    --GridGap:2px;
}
/*SelectInfoDisplay*/
body>div#SelectInfoDisplayContainer{
    width:100%;
    height:var(--SelectInfoDisplayContainerHeight);
    display:flex;
    flex-direction: row;
    background-color: white;
    --gap:1px;
    --AllROIDisplayContainerWidthRate:0.32;
    --SelectedROIDisplayContainerWidthRate:0.34;
    --MemorizedROIDisplayContainerWidthRate:0.34;
    gap:var(--gap);
}
div#SelectInfoDisplayContainer>div#AllROIDisplayContainer.InfoDisplayContainer{
    width:calc((100% - 2 * var(--gap)) * var(--AllROIDisplayContainerWidthRate));
    background-color: black;
    color:white;

}
div#SelectInfoDisplayContainer>div#SelectedROIDisplayContainer.InfoDisplayContainer{
    width:calc((100% - 2 * var(--gap)) * var(--SelectedROIDisplayContainerWidthRate));
    background-color: black;
    color:white;
}
div#SelectInfoDisplayContainer>div#MemorizedROIDisplayContainer.InfoDisplayContainer{
    width:calc((100% - 2 * var(--gap)) * var(--MemorizedROIDisplayContainerWidthRate));
    background-color: black;
    color:white;
}
/*3つに共通する部分のCSS*/
div#SelectInfoDisplayContainer>div.InfoDisplayContainer{
    /*width*/
    height:100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;

}
div#SelectInfoDisplayContainer>div.InfoDisplayContainer>div.ROIKindInfoDisplay{
    width:100%;
    height:var(--ROIKindInfoDisplayHeight);
    text-align: center;
    font: var(--ROIKindInfoDisplayFontStyle);
}
div#SelectInfoDisplayContainer>div.InfoDisplayContainer>div.ROINumDisplayContainer{
    width: 100%;
    height: var(--ROINumDisplayHeight);
    display: flex;
    flex-direction: row;
    align-items: center;
}
div#SelectInfoDisplayContainer>div.InfoDisplayContainer>div.ROINumDisplayContainer>span.VariableText{
    width: 60%;
    height: 100%;
    font: var(--ROINumDisplayFontStyle);
    display:flex;
    align-items: center;
    justify-content: center;
}
div#SelectInfoDisplayContainer>div.InfoDisplayContainer>div.ROINumDisplayContainer>span.NormalText{
    width: 40%;
    height: 100%;
    font: var(--ROINumDisplayFontStyle);
    display:flex;
    align-items: center;
    justify-content: center;
}
/*ROISelectContainer*/
body>div#ROISelectContainer{
    width:100%;
    height:var(--ROISelectContainerHeight);
    display: grid;
    grid-template-columns: repeat(var(--GridColumnsNum),1fr);
    grid-template-rows: repeat(var(--GridRowsNum),1fr);
    grid-auto-flow: column;/*縦に並べてから横に動く*/
    gap:var(--GridGap);
    background-color: gray;
}
/*ボタンの設定*/
div#ROISelectContainer>button.ROINameButton{
    width:var(--ButtonWidth);
    height:var(--ButtonHeight);
    display: flex;
    align-items: center;/*垂直方向を中央揃え*/
    flex-direction: row;
    /*border:1px solid black;*/
    background-color: rgb(210, 210, 210);
    color:rgb(0, 0, 0);
    font:var(--ButtonROINameTextFontStyle);
}
div#ROISelectContainer>button.ROINameButton:focus{/*フォーカスがあるときのオレンジの枠を、ボタンに対しては禁止する*/
    outline:none;
}
div#ROISelectContainer>button.ROINameButton:hover{
    background-color: rgb(151, 181, 239);
}
div#ROISelectContainer>button.ROINameButton.Selected{
    background-color: black;
    color:white;
}
div#ROISelectContainer>button.ROINameButton.Selected.ClickPointsInROIArea{
    color:rgb(255, 0, 0);
}
div#ROISelectContainer>button.ROINameButton>span.ROIColorBoxSpan{
    display: inline-block;
    width:var(--ButtonHeight);
    height:var(--ButtonHeight);
    line-height: var(--ButtonHeight);
    text-align: center;
    flex-shrink: 0;/*縮まないようにする*/
    margin-right:var(--ROINameTextSideMargin);/*すぐ隣に文字が来ないようにする*/
}
div#ROISelectContainer>button.ROINameButton.Selected>span.ROIColorBoxSpan::before{
    content:"✔";
    color:black;
}
div#ROISelectContainer>button.ROINameButton>span.ROINameSpan{
    /*ここにROINameが表示されるが、親要素のフォントスタイルがそのまま受け継がれるらしいのでbuttonで制御してしまう*/
    display:inline-block;
    flex:1;
    height:var(--ButtonHeight);
    line-height: var(--ButtonHeight);
    text-align: left;
}
div#ROISelectContainer>button.ROINameButton>span.ROIMemorySpan{
    display: inline-block;
    width:var(--ButtonHeight);
    height:var(--ButtonHeight);
    line-height: var(--ButtonHeight);
    text-align: center;
    flex-shrink: 0;
    margin-left:var(--ROINameTextSideMargin);
}
div#ROISelectContainer>button.ROINameButton.Memorized>span.ROIMemorySpan::before{
    content:"M";
}